# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
*.tfplan
crash.log

# Logs
*.log
logs/

# Environment variables
.env
.env.local

# Archives
*.zip
*.tar.gz

# Azure
.azure/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db